/**********************************
PAGE: CONTACT
**********************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info li {
  margin: 12px 0;
}

.contact-info .fa{
  margin-right: 1em;
}


