@media screen and (max-width: 600px) {
  .topnav li {
    margin: 0 10px;
    margin-bottom: 0.5em;
  }
  .topnav li:not(:first-child) {
    display: none;
  }
  .topnav li.icon {
    float: right;
    display: block;
  }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive ul {position: relative;}
  .topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
 
  .topnav.responsive li {
    float: none;
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 480px) {

  body {
    font-size: 25px;
  }

  /**********************************
  TWO-COLUMN LAYOUT
  **********************************/

  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 40%;
    float: right;
  }
  
  /**********************************
  PAGE: HOME
  **********************************/
  
  #gallery li .figure {
    max-width: 50%;
    float: left;
  }

  #gallery li .caption {
    max-width: 45%;
    float: right;
  }


  #gallery li:nth-child(4n) {
    clear: left;
  }
  
  /**********************************
  PAGE: ABOUT
  **********************************/

  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }

}




@media screen and (min-width: 768px) {
  /**********************************
  HEADER
  **********************************/ 
/*  
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
*/

  /**********************************
  HOME
  **********************************/ 


  #gallery li {
    max-width: 30%;
    margin: 2.5% 1%;
    clear: both;
    display: inline-block;
    vertical-align: top;
  }

  #gallery li .figure {
    max-width: 100%;
    clear: both;
    display: block;
  }

  #gallery li .caption {
    max-width: 100%;
  }
}
